<nav class="bg-light border-bottom">
    <div class="container-fluid d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>&nbsp;US: +1 614 591 3140 &nbsp;&nbsp; UK: +44 845 154 9652  &nbsp;&nbsp; APAC : +653 1251 975</a></li>

        <!-- <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li> -->
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Careers</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Contact</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li> -->
      </ul>
    </div>
  </nav>
<header class="p-2 bg-dark text-white">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://www.databridgemarketresearch.com/assets/images/logo.png" alt="logo">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">HOME</a></li>
          <li><a href="#" class="nav-link px-2 text-white">OUR SOLUTION</a></li>
          <li><a href="#" class="nav-link px-2 text-white">MARKET INSIGHTS</a></li>
          <li><a href="#" class="nav-link px-2 text-white">OUR COMPANY</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <!-- <button type="button" class="btn btn-outline-light me-2">Login</button> -->
          <button type="button" class="btn btn-warning">Sign-In</button>
        </div>
      </div>
    </div>
  </header>
