<div class="container-fluid">
  <br />
  <hr />
  <h1 class="text-center">Industry Analyst</h1>
  <hr />

  <!--  -->

  <!-- <input type="radio" name="nav" id="first" checked />
  <input type="radio" name="nav" id="second" />
  <input type="radio" name="nav" id="third" /> -->

  <!-- <label for="first" class="first"></label>
  <label for="second" class="second"></label>
  <label for="third" class="third"></label> -->

  <!-- <div class="one slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> These jacketing compounds are
      precisely comprised of non-polyvinyl chloride plastic and utilizes halogen
      free flame retardants which has primarily surged the safety & security
      purposes of product & facilities and attracted many large scale and small
      scale organizations indulged in manufacturing & production processes. In
      the present scenario, there has been constant apprehensions by many
      manufacturing organizations towards conventional wire insulation &
      jacketing compounds which utilize polyvinyl chloride and flame retardants
      consisting of halogens, could reactively generate harmful fumes in case of
      fire outbreak. <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img
      src="https://icon-library.com/images/avatar-icon-free/avatar-icon-free-10.jpg"
      width="140"
      height="130"
    />
    <h2>Prakhar Bundela</h2>
    <h6>SENIOR RESEARCH ANALYST - SE & AUTOMOTIVE</h6>
  </div>

  <div class="two slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> Both Internet of things (IoT)
      and Artificial intelligence (AI) have started another influx of
      advancement in the overall semiconductor industry. Manufacturers who can
      address the need of both the technologies for semiconductor chips will
      probably ascend to the top in future business sectors. Adding to this, the
      execution of 5G network coincides with the rising demand for quick and
      superior performance of computing devices. This has created a vast
      opportunities for many semicon manufacturers to take advantage of this new
      market as long as the development matches up with the demand of the
      consumer. <a href="#"> read more</a
      ><span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img
      src="https://i.pinimg.com/474x/e9/37/da/e937dac83a88dd7215b91ae811372c7d.jpg"
      width="140"
      height="130"
    />
    <h2>Megha Gupta</h2>
    <h6>TEAM LEAD - SE & AUTOMOTIVE</h6>
  </div>

  <div class="three slide">
    <blockquote>
      <span class="quotes leftq"> &ldquo;</span> Cardiovascular diseases (CVDs)
      are the leading cause of death globally. According to WHO an estimated
      17.9 million people died from CVDs in 2019, representing 32% of all global
      deaths. Of these deaths, 85% were due to heart attack and stroke. Over
      three quarters of CVD deaths take place in low- and middle-income
      countries. Out of the 17 million premature deaths (under the age of 70)
      due to non-communicable diseases in 2019, 38% were caused by CVDs. Most
      cardiovascular diseases can be prevented by addressing behavioral risk
      factors such as tobacco use, unhealthy diet and obesity, physical
      inactivity and harmful use of alcohol. It is important to detect
      cardiovascular disease as early as possible so that management with
      counselling and medicines can begin.
      <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img
      src="https://www.pngfind.com/pngs/m/114-1146521_girl-avatar-png-picture-female-avatar-no-face.png"
      width="140"
      height="130"
    />
    <h2>NEHA AGARWAL</h2>
    <h6>SENIOR RESEARCH ANALYST - HEALTHCARE</h6>
  </div> -->
  <div class="row center-card">
    <div class="col-4">
      <figure class="snip1390">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg"
          alt="profile-sample3"
          class="profile"
        />
        <figcaption>
          <h2>Eleanor Crisp</h2>
          <h4>UX Design</h4>
          <blockquote>
            Dad buried in landslide! Jubilant throngs fill streets! Stunned
            father inconsolable - demands recount!
          </blockquote>
        </figcaption>
      </figure>
    </div>
    <div class="col-4">
      <figure class="snip1390 hover">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg"
          alt="profile-sample5"
          class="profile"
        />
        <figcaption>
          <h2>Gordon Norman</h2>
          <h4>Accountant</h4>
          <blockquote>
            Wormwood : Calvin, how about you? Calvin : Hard to say ma'am. I
            think my cerebellum has just fused.
          </blockquote>
        </figcaption>
      </figure>
    </div>
    <div class="col-4">
      <figure class="snip1390">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg"
          alt="profile-sample6"
          class="profile"
        />
        <figcaption>
          <h2>Sue Shei</h2>
          <h4>Public Relations</h4>
          <blockquote>
            The strength to change what I can, the inability to accept what I
            can't and the incapacity to tell the difference.
          </blockquote>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
