body {
  background: #262a2b;
}
.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 200px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #f2f1f1;
  border: 1px solid #c1eaea;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  position: absolute;
  opacity: 0.9;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
  color: black;
}

.tilesWrap li h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: #ebebeb;
  margin-top: 5px;
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
.tilesWrap li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #262a2b;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 5px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
}
.tilesWrap li:nth-child(2):before {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
  background: #fc354c;
  background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
  background: linear-gradient(to right, #0abfbc, #fc354c);
}

.tilesWrap li:before {
  background: #fc354c;
  background: -webkit-linear-gradient(to right, #bf0a83, #35fc67);
  background: linear-gradient(to right, #bf0a83, #35fc67);
}

/////////////////////////////////////////////////////////////////////////

.counter {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 200px;
  padding: 0 0 45px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.counter:before,
.counter:after {
  content: "";
  background-color: #304e7f;
  height: calc(100% - 120px);
  width: 100%;
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: -1;
}
.counter:after {
  width: 30px;
  height: 30px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  bottom: 6px;
  left: 50%;
}
.counter .counter-value {
  color: #05bcc0;
  background: linear-gradient(#f9f9f9 50%, #f2f2f2 50%);
  font-size: 45px;
  font-weight: 600;
  line-height: 200px;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  box-shadow: 0 -5px 0 rgba(255, 255, 255, 0.8), 0 10px 10px rgba(0, 0, 0, 0.3);
  display: block;
}
.counter h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 10px;
}
.item {
  margin: 0px !important;
  padding: 0px !important;
  // margin: auto;
  width: 150px;
}
// .counter.red:before,
// .counter.red:after {
//   background-color: #f9605a;
// }
// .counter.green:before,
// .counter.green:after {
//   background-color: #88ba1b;
// }
// .counter.orange:before,
// .counter.orange:after {
//   background-color: #f38631;
// }
// .counter.blue:before,
// .counter.blue:after {
//   background-color: #5db3e4;
// }

// .counter.red .counter-value{ color: #F9605A; }
@media screen and (max-width: 990px) {
  .counter {
    margin-bottom: 40px;
  }
}

////////////////////////////////////////////////////////////////////////
///

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
p {
  font-family: Lato;
}

.item {
  transition: background-color 0.25s ease;
  margin-right: 10px;
  padding: 0;
  width: 300px;
  height: 300px;
  // background-color: crimson;
  // color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}

.item.current {
  background-color: blue;
}

///////////////////////////////////////
///
///
///
///

.item {
  // padding: 1px;
  // width: 80%;
  // margin-left: 10px;
  // margin-right: 10px;
  box-sizing: border-box;
}

.tile {
  // min-height: 200px;
  // background-color: #ccc;
  // background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
  margin-right: 100px;
}
.card-carousel {
  padding-left: 5%;
  padding-right: 5%;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0px;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}
.myPoint li.active {
  background: #6b6b6b;
  transform: scale(1.2);
}
