.counter {
  color: #eb3b5a;
  font-family: "Muli", sans-serif;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100%;
  padding: 33px 16px 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.counter:before,
.counter:after {
  content: "";
  background: #fff;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.counter:after {
  background: linear-gradient(45deg, #b81242 49%, #d74a75 50%);
  width: 100%;
  height: 100%;
  box-shadow: none;
  transform: translate(0);
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.counter .counter-icon {
  color: #fff;
  background: linear-gradient(45deg, #b81242 49%, #d74a75 50%);
  font-size: 16px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}
.counter .counter-icon i.fa {
  transform: rotateX(0deg);
  transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon i.fa {
  transform: rotateX(360deg);
}
.counter h3 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 3px;
}
.counter .counter-value {
  font-size: 15px;
  font-weight: 700;
}
.counter.orange {
  color: #f38631;
}
.counter.orange:after,
.counter.orange .counter-icon {
  background: linear-gradient(45deg, #f38631 49%, #f8a059 50%);
}
.counter.green {
  color: #88ba1b;
}
.counter.green:after,
.counter.green .counter-icon {
  background: linear-gradient(45deg, #88ba1b 49%, #acd352 50%);
}
.counter.blue {
  color: #5db3e4;
}
.counter.blue:after,
.counter.blue .counter-icon {
  background: linear-gradient(45deg, #5db3e4 49%, #7ebee1 50%);
}
@media screen and (max-width: 990px) {
  .counter {
    margin-bottom: 40px;
  }
}

/////////////////////////////////////////////////////////////////////////////////

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.research-title {
  font-weight: 500;
}

.heading {
  font-size: 36px;
  line-height: 54px;
  // color: white;
}
.card-header {
  // background-color: #EBEBEB;
  background: linear-gradient(121deg, rgba(255, 255, 255, 0) 13%, #304e7f 100%);
  padding-left: 10%;
}
.research-card {
  margin: auto;
  background: rgb(0, 159, 255);
  background: linear-gradient(121deg, rgba(255, 255, 255, 0) 10%, #73a4f4 100%);
  border-radius: 20vh 1vh 20vh 20vh;
  border-color: white;
}
.meta {
  font-size: 15px;
  color: #535050;
  padding: 20px 20px;
  text-align: justify;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #304e7f;
  overflow: hidden;
  font-family: "Roboto";
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background: linear-gradient(#304e7f, #e5eef3);
  //   rgb(112, 182, 244)
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 88%;
  background-color: white;
  border-radius: 8px;
}

.content > .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  background-color: white;

  p {
    font-weight: bold;
    font-size: 12px;
  }

  .color {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #165d7c;
  }
}

.content > .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  background: linear-gradient(#304e7f, #e2f0fc 75%);
  padding-left: 15px;
  padding-right: 15px;

  img {
    width: 60%;
  }

  div > p:first-child {
    margin-bottom: 5px;
    font-size: 12px;
  }

  div > p:last-child {
    margin: 0;
    font-weight: bold;
  }
}

// .content > .bottom {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 40%;
//   padding-left: 30px;
//   padding-right: 30px;

//   div {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     p:first-child {
//       font-weight: bold;
//     }
//   }
// }

.center-card {
  display: flex;
  justify-content: center;
}
.about-card {
  max-width: 80vw;
  margin: auto;
  border: 2px ridge #c3d7f7;
  padding: 5% 10%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
